<%- model_class = Pick -%>
<h3>Picks for <%= @player.name %> in <%= link_to @pool.name, pool_path(@pool) %></h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Match</th>
      <th>Spread</th>
      <th>Pick</th>
    </tr>
  </thead>
  <tbody>
    <% @picks.each do |pick| %>
      <tr>
        <%= render :partial => 'form', :locals => {:pick => pick} %>
      </tr>
    <% end %>
  </tbody>
</table>
